.create-tong,
.create-ting,
.edit-ting,
.edit-tong {
  form {
    display: flex;
    flex-direction: column;
    > * {
      margin-bottom: 20px;
    }
  }
}

.ting-wrapper.red {
  .clockdiv {
    > div {
      background: red;
    }
  }
}

.ting-wrapper.orange {
  .clockdiv {
    > div {
      background: orange;
    }
  }
}

.tings {
  display: flex;
  .top {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    border: 1px solid;
    padding: 10px;
  }
}
.ting-wrapper {
  h1 {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 25vh 0px 20px;
  }

  .clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    // margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .clockdiv > div {
    padding: 15px;
    border-radius: 3px;
    background: #00bf96;
    // margin: 10px;
    // width: 90px;
  }

  .clockdiv div > span {
    padding: 15px;
    font-size: 22px;
    border-radius: 3px;
    background: #00816a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
  }

  .smalltext {
    margin-top: 10px;
    font-size: 13px;
  }
}
